extends base.pug
block content
    section.home
    h1 Game on with Free Style Gaming
    p
    | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Animi velit laborum necessitatibus. Excepturi
    | corrupti nostrum mollitia perspiciatis, esse velit eligendi amet incidunt eveniet voluptatem quas?Lorem
    | ipsum dolor sit amet consectetur adipisicing elit. Dolor debitis doloremque ab nam quaerat omnis iusto
    | tenetur ullam beatae maxime porro, expedita illum, sit corporis nesciunt, distinctio ipsa est cumque.
    section.about
    h1#abouttitle About As
    div
        h1 Hello
        p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus eveniet quo ea excepturi, libero deleniti
        | ex asperiores facilis voluptates laboriosam, dolor nesciunt quibusdam voluptate consectetur porro ipsum
        | corporis molestias! Saepe, voluptates veritatis? Fugit, nesciunt?
    div
        h1 Hello
        p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus eveniet quo ea excepturi, libero deleniti
        | ex asperiores facilis voluptates laboriosam, dolor nesciunt quibusdam voluptate consectetur porro ipsum
        | corporis molestias! Saepe, voluptates veritatis? Fugit, nesciunt?
    .line
    p Get connected with us on social networks!
    .social_icons
        ul
        li
            a(href='')
            i.fa.fa-facebook-square(aria-hidden='true')
        li
            a(href='')
            i.fa.fa-instagram(aria-hidden='true')
        li
            a(href='')
            i.fa.fa-twitter-square(aria-hidden='true')
        li
            a(href='')
            i.fa.fa-youtube(aria-hidden='true')
block foot
    .upperfooter
    .section.item
    h3 Company
    h4 Hello1
    h4 Hello2
    h4 Hello3
    h4 Hello4
    .servis.item
    h3 Servieses
    h4 Hello1
    h4 Hello2
    h4 Hello3
    h4 Hello4
    .foabout.item
    h3 About Us
    h4 Hello1
    h4 Hello2
    h4 Hello3
    h4 Hello4
    .contact.item
    h3 Contact Us
    h4 Hello1
    h4 Hello2
    h4 Hello3
    h4 Hello4

